<Files "sw.js">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
</Files>

RewriteEngine On
RewriteRule ^vendor/ - [F,L]
RewriteRule ^composer\.(json|lock)$ - [F,L]
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
